.model-desc{
    top: 50px;
    text-align: center;
    font-family: Montserrat;
}

.model{
    font-size: 60px;
    margin-bottom: 5px;
    font-weight: bold;
}

.desc{
    font-size: 30px;
}

.delivery{
    text-decoration: underline;
}

.cat{
    text-align: center;
}

.cat-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
}

.search{
    margin-top: 25px;
    text-align: center;    
}

.search input{
    font-size: 16px;
    border-width: 0.4px;
    border:none;
    border-bottom: rbg(200,200,200);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    border-radius: 200px;
    width: 500px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}

.tweet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: gray;
    font-weight: 500;
}
.profile-cat{
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    margin-right: 8px;
}

.tweet-button{
    margin-left: 80px;
    background-color: rgb(139, 139, 234);
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-top:12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 30px;
    
}