.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    color: black;
    width: 72px;
    padding-top: 5px;
    z-index: 200;
}

.sidebar-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 76px;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(234, 233, 233);
}

.sidebar img{
    height: 24px;
    padding-bottom: 6px;
}

.sidebar div{
    font-family: Roboto, Arial;
    font-size: 10px;
}